.header {
  padding: 20px 0 56px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(206, 206, 206, 0.25);
  overflow: hidden;
  @media (max-width: 1405px) {
    padding: 20px 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1600px) {
      flex-wrap: wrap;
    }
    @media (max-width: 1405px) {
      gap: 20px 0;
    }
  }
  &_logo {
    @media (max-width: 1600px) {
      max-width: 190px;
    }
    img {
      width: 100%;
    }
  }
  .custom-select {
    position: relative;
    .select-display {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #000;
      .icon {
        transition: transform 0.2s;
        line-height: 0;
        &.active .icon {
          transform: rotate(180deg);
        }
      }
    }
    .options-list {
      max-height: 200px;
      width: 100%;
      position: absolute;
      overflow-y: auto;
      left: 0;
      padding: 2px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
      background: #fff;
      border-radius: 2px;
      display: none;

      &::-webkit-scrollbar {
        background: trsparent;
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background: #e7e7e7;
      }
      li {
        cursor: pointer;
        padding: 4px 16px;
        background: #fff;
        border-radius: 2px;
        top: 100%;
        &:hover {
          background: #f8f6f6;
        }
      }
    }
  }
  &_left {
    display: flex;
    gap: 100px;
    @media (max-width: 1830px) {
      gap: 30px;
    }
    @media (max-width: 1405px) {
      gap: 15px;
      flex-wrap: wrap;
    }

    &_content {
      display: flex;
      gap: 13px;
      align-items: flex-start;
      @media (max-width: 1600px) {
        gap: 8px;
      }
      .custom-select {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  &_menu {
    gap: 27px;
    display: flex;
    align-items: center;
    @media (max-width: 1405px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &_menu_lists {
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 2px;
    background: #f6f6f6;
    padding: 4px;
    @media (max-width: 1600px) {
      gap: 8px;
    }
    @media (max-width: 1405px) {
      width: 100%;
    }
    a {
      display: flex;
      height: 46px;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #888;
      border-radius: 2px;
      transition: all 0.2s linear;
      @media (max-width: 1600px) {
        padding: 10px 15px;
      }
      &.active {
        transition: all 0.2s linear;
        background: #fff;
        color: #e56e55;
      }
      &:hover {
        background: #fff;
        color: #e56e55;
      }
    }
  }
  &_right {
    display: flex;
    gap: 20px;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }
    .header_msg {
      width: 38px;
      position: relative;
      height: 38px;
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      align-items: flex-end;
      border-radius: 50%;
      transition: all 0.2s linear;
      &:hover {
        background: #f8f4f4;
      }
      img {
        margin-top: auto;
        margin-right: auto;
        margin-bottom: 5px;
        margin-left: 5px;
      }
      .msg_number {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color: #fff;
        background: rgba(229, 110, 85, 1);
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 50%;
      }
    }
  }
  &_accaount {
    display: flex;
    gap: 12px;
    align-items: center;
    @media (max-width: 768px) {
      border-radius: 2px;
      background: #e56e55;
      padding: 8px;
      align-items: flex-start;
      margin-top: 12px;
    }
    &_name {
      width: 54px;
      height: 54px;
      border-radius: 2px;
      border: 1px solid #e7e7e7;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #262626;
      transition: all 0.2s linear;
      text-align: center;
      font-weight: 600;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #e7e7e7;
    }
    &_phone {
      color: #262626;
      opacity: 0.7;
      @media (max-width: 768px) {
        color: #fff;
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
    &_right {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
  &_hamburger {
    display: none;
    transition: all 0.2s linear;
    cursor: pointer;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 40px;
      border-radius: 2px;
      background: #ef8e7a;
      padding: 8px;
    }
    span {
      display: block;
      background: #fdf3f3;
      height: 4px;
      width: 100%;
      transition: all 0.2s linear;
    }
    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      span {
        position: absolute;
        width: 80%;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  &_mobile {
    display: none;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 80px);
    transition: all 0.2s linear;
    @media (max-width: 768px) {
      display: block;
      top: 80px;
      left: auto;
      right: -100%;
      padding: 30px 16px;
    }
    &.open {
      right: 0;
    }
    .custom-select {
      justify-content: center;
      width: fit-content;
      margin: 0 auto;
    }
    .mobile_menu_lists {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      a {
        color: #262626;
        font-family: "Golos Text";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        padding-bottom: 8px;
        border-bottom: 1px solid #fce8e4;
        width: 100%;
        display: block;
        &:hover {
          border-color: #e56e55;
        }
        &.active {
          border-color: #e56e55;
        }
      }
    }
    &_bottom {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: calc(100% - 405px);
      justify-content: flex-end;

      a {
        color: #e56e55;
        font-weight: 600;
      }
    }
  }
}
.header_menu_btnlists {
  display: flex;
  border-radius: 2px;
  border: 1px solid #e7e7e7;
  padding: 4px;
  gap: 8px;
  .btn {
    display: flex;
    height: 46px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #fff;
    color: #262626;
    opacity: 0.7;
    transition: all 0.2s linear;
    &.active {
      color: #fff;
      background: #e56e55;
      opacity: 1;
    }
    &:hover {
      opacity: 1;
      color: #fff;
      background: #e56e55;
    }
  }
}
