.order {
  width: 100%;
  &_top {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 6px 24.3px 0px rgba(178, 178, 178, 0.25);
    padding: 24px 30px;
    margin-top: 24px;
    @media (max-width: 992px) {
      align-items: flex-start;
      br {
        display: none;
      }
    }
    @media (max-width: 768px) {
      padding: 14px 16px;
      font-size: 12px;
      flex-direction: column;
      margin-top: 16px;
      gap: 20px;
    }

    &_btns {
      display: flex;
      padding: 4px;
      border-radius: 2px;
      border: 1px solid #e7e7e7;
      gap: 8px;
      a {
        display: flex;
        height: 46px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        background: #fff;
        color: #262626;
        transition: all 0.2s linear;
        &.active {
          color: #fff;
          background: #e56e55;
        }
        &:hover {
          color: #fff;
          background: #e56e55;
        }
      }
    }
  }
  &_content {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 6px 24.3px 0px rgba(178, 178, 178, 0.25);
    margin-top: 30px;
    padding: 24px 30px;
    @media (max-width: 768px) {
      padding: 14px 16px;
      flex-wrap: wrap;
    }
    .order_table_content {
      @media (max-width: 768px) {
        gap: 20px;
        flex-direction: column;
      }
    }
    .filters {
      display: flex;
      gap: 16px;
      margin-top: 20px;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .header_menu_btnlists {
        flex: 0 0 auto;
      }
      .search_input {
        position: relative;
        width: 100%;
        img {
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          z-index: 2;
        }
        input {
          border-radius: 2px;
          border: 1px solid #e7e7e7;
          background: #f6f6f6;
          width: 100%;
          height: 54px;
          padding: 8px 20px 8px 40px;
          outline: none;
        }
      }
      & > .btn {
        width: 100%;
        max-width: 281px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 30px;
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
      .select-wrapper {
        position: relative;
        width: 100%;
        select {
          outline: none;
        }
        select.custom-select {
          width: 100%;
          height: 54px;
          padding: 10px 20px;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          border: 1px solid #ddd;
          border-radius: 4px;
          background-color: #f7f7f7;
          font-size: 14px;
          color: #333;
          cursor: pointer;
          border-radius: 2px;
          border: 1px solid #e7e7e7;
          background: #f6f6f6;
        }

        img {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          pointer-events: none;
        }
      }
    }
    &_left {
      @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 20px !important  ;
      }
    }
  }
  &_table_items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &_table_item {
    padding: 16px 20px;
    border: 1px solid #e7e7e7;
    .order_item.two {
      border-left: 1px solid #b0b0b0;
      padding-left: 6px;
    }
    .edit_content {
      cursor: pointer;
      padding: 5px;
      position: relative;
      .edit_btns {
        border-radius: 2px;
        background: #fff;
        box-shadow: 0px 6px 24.3px 0px rgba(178, 178, 178, 0.25);
        padding: 24px 30px;
        position: absolute;
        right: 0;
        display: none;
        @media (max-width: 971.5px) {
          left: 0;
          right: auto;
        }
        @media (max-width: 768px) {
          padding: 14px 18px;
        }
        .edit_btn {
          color: #e56e55;
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 5px;
          cursor: pointer;
          transition: all 0.2s linear;
          &:hover {
            background: #fafafa;
            border-radius: 2px;
          }
          &:nth-child(2) {
            margin-top: 8px;
          }
        }
      }
    }
    &_title {
      color: #e56e55;
    }
    .order_table_content {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      .order_content_left {
        display: flex;
        align-items: center;
        gap: 45px;
      }
      .order_item_btn {
        display: flex;
        gap: 24px;
        align-items: center;
        a:first-child {
          display: flex;
          padding: 8px 30px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: #e56e55;
          border-radius: 2px;
          border: 1px solid #f6b8ab;
          background: #fff;
          &:hover {
            color: #fff;
            background: #e56e55;
          }
        }
      }

      &_left {
        display: flex;
        gap: 20px;
      }
    }
    .order_item_title {
      color: #262626;
      font-weight: 600;
    }
    .order_item_text {
      color: #262626;
    }
    .order_item_name {
      color: #262626;
    }
    b {
      color: #262626;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  &_bottom_paginations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    color: #e56e55;
    select {
      border: 0;
      outline: 0;
      color: #e56e55;
    }
    .pagination_links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      a {
        line-height: 0;
      }
    }
  }
  &.docs {
    .filters {
      margin-top: 0;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    .order_table_item {
      padding: 18px 20px;
      .order_item {
        flex: 0 0 auto;
        @media (max-width: 768px) {
          flex: 1 1 0;
        }
      }
    }
    .order_table_content {
      margin-top: 0;
      gap: 14px;

      @media (max-width: 992px) {
        flex-wrap: wrap;
      }
      &.table_product {
        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
    }
    .order_content_left {
      gap: 20px;
      flex: 0 0 auto;
      @media (max-width: 768px) {
        flex-wrap: wrap;
        width: 100%;
      }
    }
    .order_btn {
      padding: 8px 20px;
      background: #fce8e4;
      color: #000;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    .docs_content_btns {
      display: flex;
      padding: 4px;
      align-items: center;
      gap: 12px;
      border-radius: 2px;
      background: #f6f6f6;
      flex-wrap: wrap;
      @media (max-width: 992px) {
        flex: 0 0 auto;
      }
      @media (max-width: 768px) {
        flex: 1 1 0;
      }
      .order_btn {
        padding: 10px 20px;
        background: transparent;
        color: #888;
        &.active {
          background: #fff;
          color: #e56e55;
        }
      }
    }
  }
}
